<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rental">
      <h2 data-cy="rentalDetailsHeading"><span jhiTranslate="rentalCarApp.rental.detail.title">Rental</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rental.id }}</span>
        </dd>
        <dt><span jhiTranslate="rentalCarApp.rental.rentDate">Rent Date</span></dt>
        <dd>
          <span>{{ rental.rentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="rentalCarApp.rental.returnDate">Return Date</span></dt>
        <dd>
          <span>{{ rental.returnDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="rentalCarApp.rental.customerId">Customer Id</span></dt>
        <dd>
          <span>{{ rental.customerId }}</span>
        </dd>
        <dt><span jhiTranslate="rentalCarApp.rental.carId">Car Id</span></dt>
        <dd>
          <span>{{ rental.carId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rental', rental.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
